html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

#title{
    color: 444;
    text-align: center;
    font-size: 24px;
}
    .slider {
        width: 70%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    }

   